.body {
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
    font-weight: 300;

    display: flex;
    align-items: center;
    gap: 30px;
}

.place {
    font-size: 1.875rem;
}

.temperature {
    font-size: 6.25rem;
}

.weatherIco {
    display: block;
}

.additional {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feelsLike {
    font-size: 20px;
}

.additionalBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}